ul {
	position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #333;
	
body {
  background-image: url("forest.png");
}

}
ul li {
	  float: left;
	display: inline-block;
	position: relative;
	text-align: left;
	background-color: #333;
}
ul li a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 16px 15px;
	text-decoration: none;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	font-size: 17px;
	font-family: Arial;
}
ul li a:hover {
	background-color: #555;
	
img {
text-align: center;
}
	
.active {
background-color: #4a4a4a;
}
	
}
ul li ul.dropdown {
	min-width: 100%;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
	width: 90px;
}
ul li:hover ul.dropdown {
	display: block;
}
ul li ul.dropdown li {
	display: block;
}
ul li ul.dropdown li a {
	font-size: 14px;
  padding: 10px 15px;
}
